@import "tailwindcss";

html, body {
  height: 100%;
  background-color: #f3f4f6; 
  color: #111827; 
  border-color: grey;
}

.swal2-popup {
  @apply  bg-white w-max h-max rounded-xl shadow-md;
}



